.page-wrap {
    position: fixed;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    // background: white;
    border-radius: 10px;
    // padding: 20px;
    // text-align: center;
  }
